{% load static %}
<link rel="stylesheet" href="{% static 'cocktails/styles.css' %}">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Englebert&display=swap" rel="stylesheet">

<body class="admin-body">
    <div class="admin-wrapper">
        <div class="hero">
            <h1 class="title"><a href="/">Shaken!Stirred</a></h1>
        </div>
        <div class="admin-grid">
            <div class="admin-card">
                <img src="{% static 'cocktails/buttons/ingredients.png' %}" alt="Ingredients">
            </div>

            <div class="admin-card">
                <img src="{% static 'cocktails/buttons/images.png' %}" alt="Images">
            </div>

            <div class="admin-card">
                <img src="{% static 'cocktails/buttons/history.png' %}" alt="History">
            </div>

            <div class="admin-card">
                <img src="{% static 'cocktails/buttons/recipes.png' %}" alt="Recipes">
            </div>

            <div class="admin-card">
                <img src="{% static 'cocktails/buttons/add.png' %}" alt="Add">
            </div>

            <div class="admin-card">
                <img src="{% static 'cocktails/buttons/list.png' %}" alt="List">
            </div>


        </div>

    </div>
</body>