<!DOCTYPE html>
<!-- Page complete – Tony, 2/09/2026 base.html -->
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shaken!Stirred</title>

    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Englebert&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cocktails/styles.css' %}">
    <link rel="stylesheet" href="{% static 'cocktails/modal.css' %}">
    <link rel="stylesheet" href="{% static 'cocktails/forum.css' %}">
    <link rel="stylesheet" href="{% static 'cocktails/base.css' %}">

    <link rel="icon" type="image/png" href="{% static 'cocktails/images/favicon/faviconcocktail.png' %}">


    

<style>


body {
    background: url('{% static 'cocktails/images/background/sunset.png' %}');
    
}

</style>

</head>

<body>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        Shaken!Stirred © 2026 — Crafted with 🍸 & Code
    </footer>

</body>

</html>