{% load static %}
<link rel="stylesheet" href="{% static 'cocktails/styles.css' %}">
<!-- This template is for the forum section in the dashboard. It lists all threads and allows users to click on a thread to view its details. -->

<div class="forum-panel">

    <div class="forum-header">
        <h2 class="forum-title">User Forum</h2>
    </div>

    <div class="forum-list">
        {% for thread in threads %}
            <a class="forum-link" href="#" onclick="loadThread({{ thread.id }})">
                <div class="thread-row">
                    <span class="thread-title">{{ thread.title }}</span>
                </div>
            </a>
        {% endfor %}
    </div>

</div>

<script type="module" src="{% static 'cocktails/js/admin-core.js' %}"></script>
